.contact__section{
    background: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.contact__container{
   max-width: 600px;
   flex-direction: column;
   width: 100%;
   padding-top: 2.5rem; 
   padding-bottom: 2.5rem; 
   max-width: 600px;
}

.contact__wrapper{
    padding-bottom: 1.75rem;
}

.contact__content{
    font-size: 2.25rem; 
    line-height: 2.5rem; 
    font-weight: 700;
    display: inline;
    border-bottom-width: 4px;
    border-color: pink;
    color: gray;
}

.highlight{
    color: gray;
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
}

.contact__highlight{
    background: #ccd6f6;
    padding: 0.5rem;
}

.contact__a{
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
    padding: 0.5rem;
    background: #ccd6f6;
}

.contact__b{
    background: #ccd6f6;
    padding: 0.5rem;
}

.contact__c{
    color: rgb(85, 15, 117);
    cursor: pointer;
    font-weight: 710;
    border-width: 2px;
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
    margin-left: 2rem; 
    margin-right: 2rem; 
    display: flex;
    align-items: center;
}

