.slider__content-top{
    text-align: center;
    margin-bottom: 50px;
}

.slider__wrapper{
    width: 70%;
    margin: auto;
}

.slider__item{
    background: var(--testimonial-bg);
    padding: 40px 30px;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
}

.customer__details{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 40px;
}

.customer__img{
    width: 50px;
    height: 50px;
}

.customer__img img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
}

.customer__name{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}



